@model IEnumerable<AuditingApp.Models.Accounts>

@{
    ViewBag.Title = "AccountsView";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-spacing: 1px;
        font-size: 13px;
        
    }
    th, td {
        padding: 0.5px;
    }
    th {
        text-align: left;
    }
    table {
        text-align: left;
    }
</style>
<h2
    align="left">Hesap ve Raporlama Kodları</h2>

    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="width:75%">
        <td>
            @Html.DisplayFor(modelItem => item.AccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDescription)
        </td>

    </tr>
}

</table>
