@model IEnumerable<AuditingApp.Models.AuditComp>

@{
    ViewBag.Title = "Index";
}

<h2>Denetçi Kuruluş</h2>

<p>
    @Html.ActionLink("Denetçi Kuruluş Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuditCompName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationMembership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationMembershipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeRegistryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MersisId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuditCompName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationMembership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationMembershipNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeRegistryNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MersisId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuditCompId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuditCompId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuditCompId })
        </td>
    </tr>
}

</table>
